@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121214;
  color: "#e1e1e6";
}

body::-webkit-scrollbar {
  width: 10px;  
  background-color: #202024;           
}

body::-webkit-scrollbar-thumb {
  background-color: #00b37e;  
  border-radius: 5px;      
}

/* Slider */
.slider {
  height: calc(100vh - 1rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
}

.slide {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
